body * {
   width: 100%;
   box-sizing: border-box;
}

body {
   background-color: #fff;
   margin: 50px;
   font-family: 'Arial';
}

.container {
   display: grid;
   grid-template-columns: 2fr 2fr 2fr 1fr;
   grid-template-rows: 1fr 3fr 2.5fr;
   grid-template-areas:
      "a . b b"
      "c d e f"
      "g g g f";
   column-gap: 30px;
   row-gap: 50px;
   min-height: 100vh;
}

article, aside, section, main {
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu1 {
   grid-area: a;
   background: #cc2e7c;
   padding: 15px;
}

.menu2 {
   grid-area: b;
   background: #faf150;
   padding: 15px;
}

.card1 { grid-area: c; background: #4fa2cb;}
.card2 { grid-area: d; background: #4fa2cb;}
.card3 { grid-area: e; background: #4fa2cb;}

.main { 
   grid-area: g;
   background: #4fa2cb;
}
.aside { 
   grid-area: f;
   background: #36353a;
}

@media (max-width: 1000px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr .75fr 4fr 2fr 2fr;
      grid-template-areas:
         "a b"
         "f f"
         "c d"
         "e e"
         "g g";
      column-gap: 20px;
      row-gap: 20px;
   }
}

@media (max-width: 500px) {
   .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr .75fr 3fr 3fr 3fr 2fr 2fr;
      grid-template-areas:
         "a ."
         "b b"
         "c c"
         "d d"
         "e e"
         "g g"
         "f f";
      column-gap: 8px;
      row-gap: 8px;
   }
}